#app {
  height: 100%;
}
@font-face {
  font-family: 'MonospaceNew';
  src: url('./vendor/fonts/monospace.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'MonospaceNew';
}

.identicon {
  border-radius: 50px;
}
